{{ if .Diplomas }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title"> Self-Study</h2>
    </div>
    <div class="sideSection__content">
        <ul>
            {{ range $i, $d := .Diplomas }}
                {{ if mod $i 1 }}
                <li class="sideSection__courseName">{{ $d | safeHTML }}</li>
                {{ else }}
                <li>{{ $d | safeHTML }} </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
